.features-container {
    padding: 40px; 
    background-color: #00161D; 
}

.upper-section,
.lower-section {
    margin: 20px 0; 
}

.trade-container,
.market-container,
.risk-guard-container,
.portfolio-container,
.scout-container,.empty-container {
    background-color: #10393E;
    border-radius: 10px;
    padding: 20px;
    min-height: calc(50% - 12px);
}


.trade-heading,
.market-heading,
.risk-heading,
.portfolio-heading,
.scout-heading {
    color: #ffffff; 
    font-size: 20px; 
}


.trade-description,
.market-description,
.risk-description,
.portfolio-description,
.scout-description {
    color: #B0FAFF; 
    font-size: 14px; 
}


@media (max-width: 768px) {
    .trade-container,
    .market-container,
    .risk-guard-container,
    .portfolio-container,
    .scout-container {
        margin-bottom: 20px; 
    }
}
