.investment-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    height: 100vh;
}

.innovation{
    width: 600px;
    
}

.main-container{
    background-color: #0B2A2D;
}

.main-heading{
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    line-height: 2;
    font-family: 'sans-serif';
}

.investment{
    background-color: #B0F9FF;
    color: #0B2A2D;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    
}

.description{
    color: #B0FAFF;
    width: 500;
    height: 20;
}


.open-dapp-button{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #B0FAFF;
    padding: 10px;
    color: #FFFFFF;
}

